{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container mt-5">

  <!-- Title -->
  <h2 class="mb-4 text-center">Create Blog Post</h2>

  <!-- Form -->
  <div class="d-flex flex-column align-items-center">
    <input type="text" class="form-control mb-3" style="width: 60%;" placeholder="Title">
    <textarea class="form-control mb-3" rows="5" style="width: 60%;" placeholder="Body"></textarea>
    <button class="btn btn-primary">Save</button>
  </div>

</div>

{% endblock %}