{# Extend the base template 'base.html' #}
{% extends 'base.html' %}

{# Define the content block that will be inserted into the base template #}
{% block content %}
  <h2>Register</h2> {# Display a heading for the registration page #}

  {# Start a form with a POST method to send data to the server #}
  <form method="post">
    <label for="username">Username</label> {# Label for the username input #}
    <input name="username" id="username" required> {# Text input for the username #}

    <label for="password">Password</label> {# Label for the password input #}
    <input type="password" name="password" id="password" required> {# Password input field that hides the entered characters #}

    {# Button to submit the form #}
    <button type="submit">Register</button>
  </form>

{% endblock %} {# End of the content block #}
