{% extends 'base.html' %}

<html lang="en">

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <title>Schedule</title>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#scheduleTable').DataTable();
        } );
    </script>
</head>

<body>
    <h1 style="text-align: center;">Event Schedule</h1>
    <table id="scheduleTable" class="display">
        <thead>
            <tr>
                <th>Week</th>
                <th>Date</th>
                <th>Time</th>
                <th>Opponent</th>
                <th>Home/Away</th>
                <th>Broadcaster</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data from the provided schedule -->
            <tr><td>1</td><td>Sun 09/10</td><td>FINAL</td><td>Philadelphia Eagles</td><td>Home</td><td>-</td></tr>
            <tr><td>2</td><td>Sun 09/17</td><td>FINAL</td><td>Miami Dolphins</td><td>Home</td><td>-</td></tr>
            <tr><td>3</td><td>Sun 09/24</td><td>FINAL</td><td>New York Jets</td><td>Away</td><td>-</td></tr>
            <tr><td>4</td><td>Sun 10/01</td><td>FINAL</td><td>Dallas Cowboys</td><td>Away</td><td>-</td></tr>
            <tr><td>5</td><td>Sun 10/08</td><td>FINAL</td><td>New Orleans Saints</td><td>Home</td><td>-</td></tr>
            <tr><td>6</td><td>Sun 10/15</td><td>FINAL</td><td>Las Vegas Raiders</td><td>Away</td><td>-</td></tr>
            <tr><td>7</td><td>Sun 10/22</td><td>1:00 PM EDT</td><td>Buffalo Bills</td><td>Home</td><td><img src="path_to_images/CBS.png" alt="CBS"></td></tr>
            <tr><td>8</td><td>Sun 10/29</td><td>1:00 PM EDT</td><td>Miami Dolphins</td><td>Away</td><td><img src="path_to_images/CBS.png" alt="CBS"></td></tr>
            <tr><td>9</td><td>Sun 11/05</td><td>1:00 PM EST</td><td>Washington Commanders</td><td>Home</td><td><img src="path_to_images/FOX.png" alt="FOX"></tr>
            <tr><td>10</td><td>Sun 11/12</td><td>9:30 AM EST</td><td>Indianapolis Colts</td><td>Home</td><td><img src="path_to_images/NFL.png" alt="NFL Network"></td></tr>
            <tr><td>11</td><td>BYE</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
            <tr><td>12</td><td>Sun 11/26</td><td>1:00 PM EST</td><td>New York Giants</td><td>Away</td><td><img src="path_to_images/FOX.png" alt="FOX"></td></tr>
            <tr><td>13</td><td>Sun 12/03</td><td>1:00 PM EST</td><td>Los Angeles Chargers</td><td>Home</td><td><img src="path_to_images/CBS.png" alt="CBS"></td></tr>
            <tr><td>14</td><td>Thu 12/07</td><td>8:15 PM EST</td><td>Pittsburgh Steelers</td><td>Away</td><td><img src="path_to_images/Prime.png" alt="Prime"></td></tr>
            <tr><td>15</td><td>Mon 12/18</td><td>8:15 PM EST</td><td>Kansas City Chiefs</td><td>Home</td><td><img src="path_to_images/ESPN.png" alt="ESPN"></td></tr>
            <tr><td>16</td><td>Sun 12/24</td><td>8:15 PM EST</td><td>Denver Broncos</td><td>Away</td><td><img src="path_to_images/NFL.png" alt="NFL Network"></td></tr>
            <tr><td>17</td><td>Sun 12/31</td><td>1:00 PM EST</td><td>Buffalo Bills</td><td>Away</td><td><img src="path_to_images/CBS.png" alt="CBS"></td></tr>
            <tr><td>18</td><td>TBD</td><td>TBD</td><td>New York Jets</td><td>Home</td><td>98.5 FM The Sports Hub</td></tr>
        </tbody>
    </table>
</body>
{% endblock %}


</html>

